<router-outlet></router-outlet>
<button type="button" routerLink="/auth/register">Register</button>
<button type="button" routerLink="/auth/login">Login</button>
<button type="button" routerLink="/auth/forgot-password">Forgot Password</button>
<button type="button" routerLink="/usage-information/delivery-and-payment">Delivery and Payment</button>
<button type="button" routerLink="/usage-information/guarantee">Guarantee</button>
<button type="button" routerLink="/usage-information/return-of-goods">Return of Goods</button>